        /* Styling for the profile card */
        .card-profile {
            width: 350px;
            margin: 0 auto;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            padding: 20px;
        }

        .card-profile img {
            width: 100%;
            border-radius: 10px 10px 0 0;
        }

        .card-profile .profile-image {
            width: 80px;
            height: 80px;
            border: 2px solid #fff;
        }

        /* Styling for the ID section */
        .id-section {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .id-section img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        /* Styling for the download button */
        #downloadIdCard {
            width: 100%;
            padding: 10px 20px;
            background-color: #7095bc;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        #downloadIdCard:hover {
            background-color: #0056b3;
        }
